<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnomoso</title>
    <nav class="navbar navbar-dark bg-dark">
        <div class="logo">
            <img src="{{url_for('static', filename='source/logo.png')}}" alt="" class="imglogo">
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="perfil">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="acerca">Acerca</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </nav>
</head>

<body>
    <div class="contain">
        <div class="jumbotron">
            {% block content %} {% endblock %}
        </div>


    </div>

</body>

</html>